<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:body>
	<f:metadata>
		<f:viewParam name="nodeId" value="#{viewManagedBean.nodeId}" />
		<!-- <f:event type="preRenderView" listener="#{viewManagedBean.printCurrentNode()}" /> -->
	</f:metadata>

	<ui:define name="title">
		<h1>Equipment list</h1>
	</ui:define>

	<ui:composition template="/layout/layout.xhtml">

		<ui:define name="header">
			<h1>Соединения для узла</h1>
		</ui:define>

		<ui:define name="content">
			<h:form>
				<h:dataTable value="#{viewManagedBean.getNodeDetails()}" var="node"
					styleClass="equipmentTable" headerClass="equipmentTableHeader"
					rowClasses="equipmentTableOddRow,equipmentTableEvenRow">

					<f:facet name="header">
						<h:column>
							<h:outputText value="Узел"></h:outputText>
						</h:column>
					</f:facet>

					<h:column>
						<h:outputText value="#{node.name}"></h:outputText>
					</h:column>

					<h:column>

						<h:dataTable value="#{node.getConnectors()}" var="connectors"
							styleClass="equipmentTable" headerClass="equipmentTableHeader">
							<!-- rowClasses="equipmentTableOddRow,equipmentTableEvenRow"> -->

							<h:column>
								<f:facet name="header">
									<h:outputText value="Коннектор"></h:outputText>
								</f:facet>
								<h:outputText value="#{connectors.getName()}"></h:outputText>

							</h:column>


							<h:column>
								<f:facet name="header">
									<h:outputText value="Соединения"></h:outputText>
								</f:facet>

								<h:dataTable value="#{connectors.getPoints()}" var="points"
									styleClass="equipmentTable" headerClass="equipmentTableHeader"
									rowClasses="equipmentTableOddRow,equipmentTableEvenRow">

									<h:column>
										<f:facet name="header">
											<h:outputText value="Точка"></h:outputText>
										</f:facet>
										<h:outputText value="#{points.getId().getId()}"></h:outputText>
									</h:column>

									<h:column>
										<h:outputText value="-"></h:outputText>
									</h:column>

									<h:column>
										<f:facet name="header">
											<h:outputText value="Точка"></h:outputText>
										</f:facet>
										<h:outputText value="#{points.getPair_point().getId().getId()} "></h:outputText>
									</h:column>

									<h:column>
										<f:facet name="header">
											<h:outputText value="Коннектор"></h:outputText>
										</f:facet>
										<h:outputText
											value="#{points.getPair_point().getConnector().getName()}"></h:outputText>
									</h:column>

									<h:column>
										<f:facet name="header">
											<h:outputText value="Узел"></h:outputText>
										</f:facet>
										<h:outputText
											value="#{points.getPair_point().getConnector().getNode().getName()}"></h:outputText>
									</h:column>

								</h:dataTable>
							</h:column>



						</h:dataTable>
					</h:column>



				</h:dataTable>

			</h:form>
		</ui:define>

	</ui:composition>

</h:body>

</html>