<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:body>

	<ui:define name="title">
		<h:outputText value="Оборудование" />
	</ui:define>

	<ui:composition template="/layout/layout.xhtml">

		<ui:define name="header">
			<h1>Список узлов</h1>
		</ui:define>

		<ui:define name="content">
			<h:form>
				<h:dataTable value="#{viewManagedBean.getAllNodes()}" var="nodes"
					styleClass="equipmentTable" headerClass="equipmentTableHeader"
					rowClasses="equipmentTableOddRow,equipmentTableEvenRow">>

				<h:column>
						<f:facet name="header">
							<h:column>
								<h:outputText value="Наименование"></h:outputText>
							</h:column>
						</f:facet>

						<h:outputText value="#{nodes.name}"></h:outputText>
					</h:column>

					<h:column>
						<f:facet name="header">
							<h:column>
								<h:outputText value="Город"></h:outputText>
							</h:column>
						</f:facet>
						<h:outputText value="#{nodes.region}"></h:outputText>
					</h:column>

					<h:column>
						<f:facet name="header">
							<h:column>
								<h:outputText value="Улица"></h:outputText>
							</h:column>
						</f:facet>
						<h:outputText value="#{nodes.street}"></h:outputText>
					</h:column>

					<h:column>
						<f:facet name="header">
							<h:column>
								<h:outputText value="Дом"></h:outputText>
							</h:column>
						</f:facet>
						<h:outputText value="#{nodes.house}"></h:outputText>
					</h:column>

					<h:column>
						<f:facet name="header">
							<h:column>
								<h:outputText value="Всего точек"></h:outputText>
							</h:column>
						</f:facet>
						<h:outputText
							value="#{viewManagedBean.jpaService.getPointsCountForNode(nodes.getId())}"></h:outputText>
					</h:column>

					<h:column>
						<f:facet name="header">
							<h:column>
								<h:outputText value="Свободных точек"></h:outputText>
							</h:column>
						</f:facet>
						<h:outputText
							value="#{viewManagedBean.jpaService.getFreePointsCountForNode(nodes.getId())}"></h:outputText>
					</h:column>

					<h:column>
						<f:facet name="header">
							<h:column>
								<h:outputText value="Соединения"></h:outputText>
							</h:column>
						</f:facet>
						
						<h:button value="Соединения" outcome="connections">
							<f:param name="nodeId" value="#{nodes.getId()}" />
						</h:button>

						<!-- <h:commandButton
							action="#{viewManagedBean.processConnections(nodes.getId())}"
							value="соединения" /> -->
					</h:column>

				</h:dataTable>
			</h:form>
		</ui:define>
	</ui:composition>

</h:body>

</html>