#container {
	width: 91%;
	min-height: 450px;
	margin: 50px auto;
	box-shadow: 2px 2px 10px #888;
	background: #EAEAEA;
	padding-bottom: 10px;
	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	border-radius: 7px 7px 7px 7px;
}

#header {
	height: 60px;
	text-align: center;
	background: #316E92;
	background-size: 58px;
	color: white;
	padding: 5px;
	font-smooth: always;
	text-shadow: 0px 0px 2px white;
	border-radius: 7px 7px 0 0;
}

#line {
	width: 100%;
	height: 5px;
	background: #000000;
}

.equipmentTable {
	border-collapse: collapse;
	border: 1px solid #000000;
	width: 95%;
	margin: 10px auto;
	border: 1px solid #000000;
}

.equipmentTableHeader {
	text-align: center;
	color: white;
	padding: 5px;
	background: none repeat scroll 0 0 #316E92;
	border: 1px solid #000000;
}

.equipmentTableOddRow {
	text-align: center;
	background: none repeat scroll 0 0 #FFFFFFF;
}

.equipmentTableEvenRow {
	text-align: center;
	background: none repeat scroll 0 0 #81C7EF;
}

.connectionButton{
	 background: url('connection.gif') no-repeat top;
}