<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>		
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title><ui:insert name="title" /></title>
	<h:outputStylesheet name="style.css" library="css" />
	<link rel="shortcut icon"
		href="${request.contextPath}/resources/css/images/favicon.gif" />
</h:head>

<h:body>

	<div id="container">

		<div id="header">
			<ui:insert name="header" />
		</div>
		
		<div id="line" />
		
		<div id="content">
			<ui:insert name="content" />
		</div>

	</div>

</h:body>
</html>